[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sandyovt
[access "refs/for/refs/*"]
	read = group user/sandyovt
	push = group user/sandyovt
	label-Code-Review = -2..+2 group user/sandyovt
	label-Verified = -1..+1 group user/sandyovt
	rebase = group user/sandyovt
	removeReviewer = group user/sandyovt
	submit = group user/sandyovt
[access "refs/heads/*"]
	read = group user/sandyovt
	create = group user/sandyovt
	push = +force group user/sandyovt
	pushMerge = group user/sandyovt
[access "refs/tags/*"]
	push = group user/sandyovt
	push = +force group user/sandyovt
